@model List<Boreass.Models.StationModel>
@{
    ViewBag.Title = "Hoş Geldiniz...";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Station List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İl</th>
                            <th>Santral Adı</th>
                            <th>Derecelendirme</th>
                            <th>Tribün Sayısı</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Canlı İzle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].VillageName</td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].score</td>
                                <td>@Model[i].TribuneCount</td>
                                <td>@Model[i].StartDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>